*.nupkg
*.suo
*.user
*.DotSettings
bin/
obj/
packages/
paket-files/
_ReSharper.*/

.cbs/
cbs.log
logs/

*project.lock.json

.DS_Store
*~
*.userprefs
TestResult.xml
build-packages
.fake
.vs
.idea
.vscode