source https://api.nuget.org/v3/index.json

nuget Apache.Thrift 1.0.2
nuget Microsoft.AspNetCore 2.1.2
nuget Microsoft.AspNetCore.App
nuget Microsoft.Extensions.Configuration 2.1.1
nuget Microsoft.Extensions.Http 2.1.1
nuget Microsoft.NET.Test.Sdk 17.4.1
nuget Moq 4.18.3
nuget NUnit 3.13.3
nuget NUnit3TestAdapter 4.3.1
nuget System.Collections.Specialized 4.3.0
nuget System.Net.Http 4.3.3
nuget System.Net.NameResolution 4.3.0
nuget System.Net.NetworkInformation 4.3.0
nuget System.Runtime.Serialization.Formatters 4.3.0
nuget System.Threading 4.3.0
nuget System.Threading.Tasks.Dataflow 4.7.0
nuget System.Threading.Thread 4.3.0
nuget YamlDotNet 12.3.1

git https://github.com/megaease/zipkin4net.git 1.5.0-megaease build: "source.cmd", Packages: /source/, OS: windows
git https://github.com/megaease/zipkin4net.git 1.5.0-megaease build: "source.sh", Packages: /source/, OS: mono

nuget zipkin4net 1.5.0-megaease
nuget zipkin4net.middleware.aspnetcore 1.5.0-megaease